{% extends "base.html" %} {% block content %} {% if page.meta.type %}
<div class="hero hero--{{ page.meta.type }}">
    <div class="hero__content">
        <p class="hero__subtitle">{{ page.meta.type | capitalize }}</p>
        <h1 class="hero__title">{{ page.title }}</h1>
        <p class="hero__description">{{ page.meta.description }}</p>
    </div>
    <div class="hero__icon">
        <img src="{{ ('assets/icons/' ~ page.meta.type ~ '.svg') | url }}" />
    </div>
</div>
{% endif %} {{ super() }} {% endblock %}
