site_name: Ever Project Documentation
theme:
  name: material
  palette:
    scheme: slate
    primary: dark purple
  features:
    - navigation.footer
    - content.tooltips
  custom_dir: overrides

plugins:
  - blog

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - admonition
  - pymdownx.details
  - abbr
  - attr_list
  - pymdownx.snippets
