/* Hero Container */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: white;
    overflow: hidden;
    position: relative;
}

/* Color Variants */
.hero--framework {
    background: linear-gradient(#593a98, #0b0c0f);
}
.hero--sample {
    background: linear-gradient(#d5ca2a, #0b0c0f);
}
.hero--blog {
    background: linear-gradient(#335759, #0b0c0f);
}

.hero--instructions {
    background: linear-gradient(#74619e, #0b0c0f);
}

.hero--api {
    background: linear-gradient(#c24040, #0b0c0f);
}

.hero--component {
    background: linear-gradient(#329f3d, #0b0c0f);
}

.hero__subtitle {
    text-transform: capitalize;
    opacity: 0.7;
    margin: 0;
}

.hero__title {
    font-size: 2rem !important;
    margin: 8px 0 !important;
    color: white !important;
}

.hero__icon img {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%) translateX(-20%);
    height: 80%;
    opacity: 0.2;
    size: 10%;
}
